<!-- app/views/shared/_navigation.html.erb -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!--Brand-->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Detailed Run Tracking</a>
    </div>
    <!--Rest of navigation-->
    <div class="collapse navbar-collapse">
      <!--Links-->
      <ul class="nav navbar-nav">
        <li>
          <% if user_signed_in? %>
            <%= link_to 'Users', users_path %> 
          <% end %>
        </li>
        <li>
          <% if user_signed_in? %>
            <%= link_to 'My Runs', user_runs_path(current_user) %> 
          <% end %>
        </li>
      </ul>
      <!--Sign Out-->
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if user_signed_in? %>
            <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %> 
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <!-- <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Login</a></li>
        <li class="divider"></li>
        <li><%= link_to 'Create a user', new_user_path %></li>
      </ul>
    </li>
  </ul> -->
</nav>